@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
    url('~@/./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Bold'),
    url('~@/./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* ELEMENT-UI CUSTOMIZATION */
/*----------------------------------------------------------*/
/* Scroll bar */

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(165, 181, 200, 0.5) #FFFFFF;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(165, 181, 200, 0.5);
  border-radius: 10px;
  border: 3px solid #FFFFFF;
}

/* Header */

.el-header.common-header {
  height: 80px;
}

/* Footer */

.el-footer {
  padding: 0;
}

/* Table */

.el-table .cell {
  white-space: nowrap;
}

/*----------------------------------------------------------*/