/* Component Styles */
.navbar-menu .nav-item a {
  color: rgb(51, 122, 183);
  text-decoration: none;
}

.navbar-menu .nav-item a:hover,
.navbar-menu .nav-item a.active {
  border-bottom: 2px solid #CCCCCC;
}